#head{
    border: hidden;
    background-color: #e1b382;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}

#nav{
    text-align: center;
    background-color: whitesmoke;
    height: 20px;
    padding: 15px;
}

#Company{
    color:  black;
    text-decoration: none;
    font-size: 50pxpx;
    text-align: center;
}

.a:link{
    border: hidden;
    border-radius: 9px;
    padding: 5px;
    background-color: azure;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.a:hover{
    color: black;
    background-color: rgb(207, 163, 185);
    font-size: 22px;
}

.p{
    border: hidden;
    padding: 30px;
    margin-left: 15px;
    border-radius: 19px;
    font-size: 25px ;
    color: blueviolet;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}

#con{
    border: hidden;
    background-color: #e1b382;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    padding: 21px;


}

.p1{
    font-size: 30px;
    color: white;
}

